.statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #ffff;
  width: 400px;
  margin: 30px 0;
}

.title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: #434455;
  text-transform: uppercase;
  text-align: center;
  height: 80px;
}

.statList {
  display: flex;
  align-items: center;
  width: 100%;
  color: #ffff; 
}

.item {
  border: 1px solid rgb(244, 244, 253);
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.item:first-child {
  background-color: #4fc4fa;
}

.item:nth-child(2) {
  background-color: #a33df2;
}

.item:nth-child(3) {
  background-color: #e74b68;
}

.item:nth-child(4) {
  background-color: #20b8c6;
}

.item:last-child {
  background-color: #94cce6;
}

.label {
  font-weight: 500;
  font-size: 20px;
}

.percentage {
  font-weight: 500;
  font-size: 20px;
}
